[2017-04-26 00:37] eltiare opened #1 "Can't get importing to work"
When I try to use `import ReactResponsiveSelect from 'ReactResponsiveSelect';` after installing `react-responsive-select` I get a message that the module cannot be found. If I change `'ReactResponsiveSelect'` to `'react-responsive-select'` all it imports is an empty object and throws other errors when I attempt to use it.

[2017-04-26 02:37] benbowes commented on #1
Thanks @eltiare I'm checking this out now.

[2017-04-26 02:54] benbowes commented on #1
@eltiare I can see the problem, and you are right about the import.

I will have to update the package. And remove the inbuilt demo (that I think, is what has caused the problem).

I have resolved it locally by calling the `src` directly. Which means I have to babel transpile all the things in my node_modules folder. Not ideal.

Thanks for highlighting this.

[code]

[2017-04-26 12:20] #1 closed

[2017-07-14 17:56] AlpZero opened #26 "Error on Import"
Module not found: Can't resolve 'lodash.isequal' in '\node_modules\react-responsive-select\dist'

[2017-07-14 18:03] AlpZero commented on #26
" yarn add lodash.isequal " solved the issue. Closing

[2017-07-14 18:03] #26 closed

[2017-07-14 23:48] benbowes commented on #26
Thanks @AlpZero this is valid. I will address this

[2017-07-16 00:05] benbowes commented on #26
Addressed in https://github.com/benbowes/react-responsive-select/pull/27 by making `lodash.isequal` a dependency. Thanks for your feedback.

[2017-10-19 15:11] bezchristo opened #46 "Scrollbar closing the dropdown"
When using the scrollbar in the dropdown to scroll it closes the dropdown instead of scrolling.
The only way to currently scroll through the dropdown list is by using the scroll wheel on the mouse.

The effect can be seen in this [codepen](https://codepen.io/benbowes/pen/MEoYvd)

I'm using the latest version of Chrome, but I get the same issue on Brave, Firefox ans Edge.

[2017-10-19 23:51] benbowes commented on #46
Thanks @bezchristo

I can see this issue and will fix it in the next few days.

[2017-10-20 07:40] benbowes commented on #46
Hi @bezchristo

This has been fixed in https://github.com/benbowes/react-responsive-select/pull/47

npm version 3.0.5 is now published.

[2017-10-25 07:30] #46 closed

[2018-01-25 20:54] thedistricts opened #57 "'disabled' prop not initialising event listeners after componentDidMount is called"
1. ReactResponsiveSelect component is initially 'disabled'
2. 'disabled' prop is passed as false so the component is active.
3. The dropdown fails to receive any mouse events.

Looks as though the mouse event listeners are setup in componentDidMount. If disabled is true at the point they hit this, they aren't initialised and with no opportunity to initialise them again.

Current work around: add a

[2018-01-25 23:33] benbowes commented on #57
Hi @thedistricts I understand what you are talking about. Did you have any thoughts on how to address this?

[2018-01-26 02:06] benbowes commented on #57
I've added a disabled checkbox to this codepen https://codepen.io/benbowes/pen/baKoBQ?editors=0010 It shows up the issue. I'll look into it

[2018-01-27 11:00] benbowes commented on #57
Whilst working on this I realise that the disabled scenario is not reading out well for screen readers. I will sort this out as well. I expect to be done in a few days.

Let me know if you'd like to review the PR.

[2018-01-28 01:59] benbowes commented on #57
https://github.com/benbowes/react-responsive-select/pull/58

[2018-01-28 12:01] benbowes commented on #57
`3.0.3` now released to [npm](https://www.npmjs.com/package/react-responsive-select) including work done in https://github.com/benbowes/react-responsive-select/pull/58, and the controlled example on (codepen controlled example)[https://codepen.io/benbowes/pen/baKoBQ?editors=0010] looks to be working as I had expected.

I did keep the component focusable, but added an aria-disabled attribute to cal

[2018-01-28 12:01] #57 closed

[2018-01-28 12:42] benbowes opened #59 "Update docs"
- Review the current docs, and determine where improvements can be made

[2018-01-29 10:04] thedistricts commented on #57
Amazing! Thanks for the super quick turn around on this @benbowes

[2018-01-30 03:55] benbowes commented on #57
Cheers 👍

[2018-02-01 16:51] thedistricts opened #60 "Controlled multiselect - scroll position reset when option is selected"
Selecting an option in a controlled multiselect resets the menu's scroll position

**Demo**
[https://codepen.io/thedistricts/pen/gvaXwr](https://codepen.io/thedistricts/pen/gvaXwr)

1) Open Multiselect
2) Select 'Test5'
3) Notice the scroll position has returned to the top of the menu

Expected behaviour: Persist scroll position between selecting options

[2018-02-02 02:08] benbowes commented on #60
Cheers for the Codepen @thedistricts!

I never did set up a scroll-to-selected-option for multi-select. Seems like a good time to do that.

I think it should be scroll to the first selected option in `selectedValues` if the multi-select has not been altered, or scroll to the last selected option in `selectedValues` if it has been altered.

[2018-02-04 23:03] benbowes commented on #60
Hi @thedistricts

I can see that fixing this particular issue would be fairly easy, but can also see that going forward some other internals are going to have to change to cater for selecting the first item when you "go and come back to" the component.

Would you like to see this particular issue sorted quickly or are you in a position to wait a week?

The only difference from my end is 2 publishe

[2018-02-05 10:34] thedistricts commented on #60
Thanks @benbowes - A week should be fine if that works for you. Much appreciated! I've had fork and implement a few small tweaks to get the flexibly I needed for a project. I'll note the suggestions in an issue, see if you think it's worth including in your main component.

[2018-02-05 10:55] benbowes commented on #60
Nice one!

I'm thinking It would be a good idea to separate these two https://github.com/benbowes/react-responsive-select/blob/master/src/reducers/reducer.js#L48-L49 so that they have there own state manipulations.

Also... the quick fix I mentioned above was to changing this line:
https://github.com/benbowes/react-responsive-select/blob/master/src/reducers/reducer.js#L74

This
[code]
To this
[cod

[2018-02-05 10:57] benbowes commented on #60
I'd dig hearing those suggestions

[2018-02-05 11:35] thedistricts opened #61 "Feature: ability to pass optional onclick to option list item"
Suggestion:

When working with a controlled state select component, allow a function to be called when an option is selected.

Example use case:

Allow select all / clear of options belonging to a brand by allowing a callback function to be called in the parent scope

![ezgif-5-b48606cc67](https://user-images.githubusercontent.com/478837/35802557-766c9d64-0a68-11e8-8e48-bd2f0c1be7fb.gif)

[2018-02-05 11:44] thedistricts opened #62 "Feature: ability to pass a header component to display before the options items"
When working with a controlled state select component, allow a component to be rendered before the options listing

use case:

Allow controlling state to be updated without selecting an option

![ezgif-5-8475bf4d83](https://user-images.githubusercontent.com/478837/35802808-7f958954-0a69-11e8-917b-0a5292cdc350.gif)

[2018-02-06 07:00] benbowes commented on #61
I like this. Will look into it

[2018-02-10 01:23] benbowes commented on #60
Released 3.1.4 with https://github.com/benbowes/react-responsive-select/pull/63

[2018-02-10 01:23] #60 closed

[2018-02-10 01:37] benbowes commented on #62
I am concerned about the accessibility implications with this one. Given that this component was built for being accessible. I am thinking this is a no for now.

[2018-02-12 09:19] #62 closed

[2018-02-24 14:47] litzenberger opened #64 "onChange event not called when selectedValue === index value"
In the case where the index of options equals the selected value, the onChange event is called and the component will stop that event until refresh.

There is a check here that doesn't make sense to me.  There are times where a selectedValue will === the index which fails to call the onChange.
https://github.com/benbowes/react-responsive-select/blob/master/src/ReactResponsiveSelect.js#L71

I made

[2018-02-24 20:11] benbowes commented on #64
Thanks @litzenberger, will check this out.

[2018-02-24 23:37] benbowes commented on #64
@litzenberger any chance you could show me the configuration you used to uncover the bug?

[2018-02-25 03:41] litzenberger commented on #64
Hi @benbowes, thanks for looking at this.

Here is an example you can test with:
[code]
1) Select value 1 option.
2) then unselect option 1.  It will stay on value 1 and the onChange will not be fired if selecting another option.

[2018-02-25 11:24] benbowes commented on #64
Hi @litzenberger ,

The problem is that the `option.value` is a `number`, change it to a `string`.

Did you check the console output? It is printing `Warning: Failed prop type: Invalid prop `options[1].value` of type `number` supplied to `SingleSelect`, expected `string``

[2018-02-25 13:26] litzenberger commented on #64
Yes, changing it to a string will work but so does padding the integer so that index will never match the selectedValue.  Is there a reason value has to be a string?

I was using multiselect and do not see a warning in console.

Thanks!

[2018-02-26 10:50] benbowes commented on #64
The multiselect mode should give a warning about the string prop not being a string. That needs to be sorted.

I'd like to know why do you think it shouldn't be a string? What benefits may present themselves by changing the interface?

[2018-02-26 13:16] litzenberger commented on #64
Yeah, no benfiit just something I missed when implemeting the component.

I'll go ahead and close this issue.

Thanks again.

[2018-02-26 13:16] #64 closed

[2018-02-26 22:00] benbowes commented on #64
Cheers for finding the props bug. That needs to be fixed. 👍

[2018-03-06 21:16] zoeng opened #65 "Is there a plan to bring the lib to React v16?"
Can you please kindly point me to the right direction if I have to make this work in react v16?

[2018-03-06 21:42] benbowes commented on #65
Absolutely. I made an assumption that it would given the peerDependencies declaration. Will double check in a few hours and get back to you.

[2018-03-07 02:50] benbowes commented on #65
Hi @zoeng you should not need to do anything special.

I am declaring React as a peerDependency, meaning that whatever React version you have will be used. Though the react version must be either `0.14.9` or greater than `15.3.0` as listed in the peerDependencies.

Does this answer your question?

[2018-03-07 06:01] zoeng commented on #65
Hello Ben,

Thank you so much for your quick response.  First, I would like to say thank you for such a wonderful library that is ADA compliant.

Our project uses react v16.  The select works perfect by itself but when we try to include that within the react-modal, it breaks react-modal.  In other ways, nothing will be displayed or show up within the modal.  As if props.children does not exists.

[2018-03-07 07:12] benbowes commented on #65
Is there an example codepen I can look at, or something similar?

[2018-03-28 21:54] benbowes commented on #65
@zoeng I am going to close this issue as not enough info has been supplied.

[2018-03-28 21:54] #65 closed

[2018-03-28 21:55] benbowes commented on #65
@zoeng I am going to close this issue as not enough info has been supplied.

[2018-04-16 07:39] #59 closed

[2018-05-29 01:06] joshferrell opened #71 "react-responsive-select dev dependency"
In the README.md, the install script is: `npm install react-responsive-select -D` is there a reason that the recommended installation type is as a dev dependency? Shouldn't this be a production dependency if you're using this in a react component.

[2018-05-29 01:11] benbowes commented on #71
Hi @joshferrell, how you install it is up to you. If you'd rather make it a dependency - I'd say go for it.

[2018-05-29 01:13] joshferrell opened #72 "Window is not defined (SSR support)"
This implementation currently uses the window object which is not available when server side rendering. [I found these usages of the window object](https://github.com/benbowes/react-responsive-select/search?q=window&unscoped_q=window). Is it possible that this could add support for server side rendering?

[2018-05-29 01:45] benbowes commented on #72
It can be used server side, I am using it SSR

[2018-05-29 01:47] benbowes commented on #72
@joshferrell could you please supply the error you are getting?

[2018-05-29 03:32] joshferrell commented on #72
[code]

[2018-05-29 03:45] benbowes commented on #72
Cheers @joshferrell,

I will investigate today.

[2018-05-29 21:00] jstein-ftdi opened #73 "Disable individual options"
I have a use case in which I would like individual options to be visible in the list, but not able to be selected. Would be nice (for me) if RRS had this capability. Thanks!

[2018-05-30 02:27] benbowes commented on #73
Nice idea

[2018-05-30 02:28] benbowes commented on #72
Yep. I see the problem and will fix asap.

Thanks for letting me know.

[2018-05-30 03:14] benbowes commented on #72
This appears to be a Webpack export issue.

In https://github.com/benbowes/react-responsive-select/blob/master/webpack.config.react-responsive-select.js#L24 - changing `umd` to `commonjs2` appears to fix the problem.

However I need to test this a bit more before committing to the change.

[2018-05-30 08:05] benbowes commented on #61
I've had a look into this and have decided not to add this feature as I believe the onChange handler should be enough to add this ability.

I am also worried about adding this due to the potentially difficult accessibility this could introduce.

[2018-05-30 08:05] #61 closed

[2018-05-30 12:57] benbowes commented on #72
@joshferrell should get fixed in https://github.com/benbowes/react-responsive-select/pull/74

[2018-05-30 13:16] benbowes commented on #72
Released react-responsive-select@4.0.1

[2018-05-30 21:48] #72 closed

[2018-05-30 21:49] #71 closed

[2018-05-31 01:55] benbowes opened #75 "Add typescript definitions"
Improve readability of code with typescript

[2018-06-09 01:52] robdmoore commented on #75
Would also be great to have a `@types/react-response-select` package for use of this with TypeScript

[2018-06-09 04:17] robdmoore commented on #75
I just whipped this together and it seems to work:

[code]

[2018-06-09 04:17] robdmoore commented on #75
I didn't flesh out the `onSubmit` signature though since I'm not using that

[2018-06-09 05:52] robdmoore opened #76 "TypeError when `selectedValues` is set to empty array"
Hi,

When setting `selectedValues` to an empty array for a multi-select control there is a type error (attempt to access property text on undefined).

I was trying to bind it to a property that will sometimes have elements and sometimes not.

[2018-06-09 05:54] robdmoore opened #77 "Feature suggestion: empty item"
It would be useful to be able to define the label for the default / empty / first item separate to the `options` array for situations where you have a list of items to select from, but it's optional to select an item or you don't want any of them selected by default.

[2018-06-09 05:55] robdmoore commented on #77
In the meantime it's easy enough to achieve this like so:

[code]

[2018-06-09 06:04] robdmoore commented on #76
Here is a test that I think would work, I'm struggling to run the tests because I'm getting thousands of line ending failures (I'm running on Windows):

[code]

[2018-06-09 06:10] robdmoore commented on #76
The fix is to change the first line of `getInitialMultiSelectSelectedOptions` to:

[code]

[2018-06-09 06:11] robdmoore commented on #76
Alternatively, you could do this test instead:

[code]

[2018-06-09 06:13] robdmoore commented on #76
In the meantime of this fix the workaround is:

[code]

[2018-06-10 04:52] benbowes commented on #75
Looks good @robdmoore. With typeScript, Is generally preferable to have the types in the org `@types/*` over having them importable in the package?

[2018-06-10 04:54] benbowes commented on #77
@robdmoore I agree.

[2018-06-10 05:09] benbowes commented on #76
@robdmoore great detail in your issue. I appreciate it.

I reckon that this issue relates to this https://github.com/benbowes/react-responsive-select/issues/77

The dropdown currently assumes that there will always be a first option to select - the "Any" option. Allowing emptiness would be an improvement as per your issue link. Will do.

Turns out that I already have this in local branch. Will fin

[2018-06-10 06:40] robdmoore commented on #75
Unsure. What I will say is that lately all packages I've been adding typically have the `@types/*` package and if they don't then I assume they don't have types and I think twice about using them. In this case I persisted because I had been struggling to come up with a mobile friendly filtering interface for the DDD Perth voting experience (https://github.com/dddwa/dddperth-website, https://dddper

[2018-06-10 06:42] robdmoore commented on #75
If you're curious here is where I used your library: https://github.com/dddwa/dddperth-website/blob/master/components/voting.tsx#L320

[2018-06-10 06:43] robdmoore commented on #76
Sweet!

[2018-06-11 08:47] benbowes commented on #75
I guess moment have an intention to place it under `@types/*`. It certainly is easier to add it under ones own repo though 🤔

[2018-07-01 10:08] martyan commented on #73
I needed to use disabled options in my project as well. So here is PR with my implementation #81

[2018-07-02 15:33] benbowes commented on #73
https://github.com/benbowes/react-responsive-select/pull/81 merged and published as 4.1.0

[2018-07-02 15:33] #73 closed

[2018-07-08 08:58] benbowes commented on #75
@robdmoore I've made a start on this. I will add it to the project first.

[2018-07-08 09:06] benbowes commented on #75
Though not finished, something like this...

[code]

[2018-07-08 09:21] robdmoore commented on #75
Nice!

--

[2018-07-12 09:02] benbowes commented on #75
Released 4.2.0 to add types locally. I've updated the example at https://github.com/benbowes/react-responsive-select-with-typescript

[2018-07-12 09:02] #75 closed

[2018-07-12 10:53] benbowes commented on #76
I have this marked for end of July

[2018-07-14 01:59] benbowes commented on #77
I have this marked for end of July as part of https://github.com/benbowes/react-responsive-select/issues/76

[2018-07-18 08:01] hungdev opened #83 "Allow searchable"
allow user input box

<img width="551" alt="screen shot 2018-07-18 at 3 00 13 pm" src="https://user-images.githubusercontent.com/12009276/42867984-516c0168-8a9b-11e8-8f62-31ed0a25550c.png">

[2018-07-18 10:21] benbowes commented on #83
Hi @hungdev.

With this select you can search via a letter only. I'd like to keep it this way as it is meant to mimic a native select.

Definitely a cool feature, but adding search as suggested would make it a combo box.

[2018-07-18 14:41] benbowes commented on #83
Hi @hungdev

One of the big objectives of this select was to make it accessible. I feel that by adding this feature I will have to change the html markup and attributes quite significantly. I think it would be a better idea to create a new component.

Have you seen these projects? https://github.com/moroshko/react-autosuggest, https://github.com/reactjs/react-autocomplete

[2018-07-19 03:12] hungdev commented on #83
Thank for your support.
But its autocomplete and it does not have your feature. I want to use multi-select dropdown component and allow input. just only one. I think it will be a good feature option for this lib. I hope it will integrate.
<img width="311" alt="screen shot 2018-07-19 at 10 06 44 am" src="https://user-images.githubusercontent.com/12009276/42919317-800b97a4-8b3b-11e8-964b-2382b61afd1

[2018-07-29 13:46] hungdev commented on #83
oke, I wrote one component for myself.

[2018-08-03 00:48] benbowes commented on #77
I have tackled this as part of https://github.com/benbowes/react-responsive-select/pull/84

[2018-08-03 00:48] #77 closed

[2018-08-03 00:48] benbowes commented on #76
I have tackled this as part of https://github.com/benbowes/react-responsive-select/pull/84

[2018-08-03 00:48] #76 closed

[2018-08-13 06:59] benbowes opened #87 "Demos page is too long - split it up"
Create a navigation system - the one pager is hard to navigate

[2018-08-13 07:00] benbowes opened #88 "Add onBlur"
Add an onBlur prop for onBlur controlled validation

[2018-08-14 03:09] gks66 opened #89 "Browser IE can't click on dropdown menu scrollbar"
The dropdown will close when click on scrollbar.

[2018-08-14 04:07] benbowes commented on #89
Hi @gks66, which version (s) of  IE did you notice this on?
Cheers

[2018-08-14 05:57] gks66 commented on #89
Hi @benbowes, IE 11.

[2018-08-20 15:05] benbowes commented on #89
Hi @gks66 I believe this is fixed as part of https://github.com/benbowes/react-responsive-select/pull/90

And published to react-responsive-select@4.3.3

Feel free to reopen

Thanks for the heads up 👍

[2018-08-20 15:06] #89 closed

[2018-08-21 01:59] gks66 commented on #89
Hi @benbowes it is fixed now, awesome! Thanks

[2018-08-28 06:53] pratikt-cuelogic opened #93 "how to implement optgroup ?"
how to implement optgroup ?
reference: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_optgroup

[2018-08-28 07:25] benbowes commented on #93
It is not currently possible

[2018-08-31 00:38] benbowes commented on #93
If the is interest in this, I will implement it for single select

[2018-08-31 06:54] pratikt-cuelogic commented on #93
I would really appreciate if we could have it

[2018-09-09 23:01] benbowes commented on #88
Tackled in this PR https://github.com/benbowes/react-responsive-select/pull/94

[2018-09-09 23:01] #88 closed

[2018-10-03 05:50] benbowes commented on #93
Will do this

[2018-11-03 22:20] benbowes commented on #93
Hi @pratikt-cuelogic,

I have implemented this as an option header, not an optGroup. This way I can handle both option headings utilising position: sticky, whilst not degrading screen-reader output or keyboard access.

e.g. using `optHeader: true`
[code]

Available in react-responsive-select@4.5.3

[2018-11-03 22:20] #93 closed

[2018-11-04 12:17] benbowes opened #101 "Single-Select OnBlur bug when selecting the same option that is currently selected"
How to replicate 1:
- Select an option
- Close the options panel
- Open the options panel (click or arrow key)
- Select the same option

Result: The select loses focus

How to replicate 2:
- Select an option
- Close the options panel
- Open the options panel (click or arrow key)
- Select the same option with the arrow keys and click enter

Result: The select loses focus

How to replicate 3:
- Sele

[2018-11-04 20:59] benbowes commented on #101
https://github.com/benbowes/react-responsive-select/pull/102

[2018-11-04 20:59] #101 closed

[2018-11-07 08:08] Konstantin6487 opened #104 "noSelectionLabel"
Hi!
I use react-typescript. It's all ok, but i recieved an error on *noSelectionLabel* attr:
[code]
I can use `// @ts-ignore`, but it's not a good practise. What can i do?
Sorry for my english :)

[2018-11-08 01:33] benbowes commented on #104
Thanks @Konstantin6487 totally true.

I plan to rewrite the this repo to typescript.

In the meantime I shall add this to the index.d.ts

[2018-11-08 02:57] benbowes commented on #104
Hi @Konstantin6487,

I have added `noSelectionLabel?: string;` to `react-responsive-select@4.5.7` via https://github.com/benbowes/react-responsive-select/pull/105

[2018-11-08 02:57] #104 closed

[2018-12-05 08:14] pranayrauthu opened #106 "Onchange not triggered first time with keyboard"
onchange event is not triggered first time if options are selected with keyboard.

![ezgif-5-16d462aeb16e](https://user-images.githubusercontent.com/22414856/49499358-cb549880-f893-11e8-9520-bbb4ce584391.gif)

[2018-12-05 22:11] benbowes commented on #106
I will look into this @pranayrauthu

[2018-12-24 09:44] yyaswanth commented on #106
@benbowes Any ETA for this issue.

[2018-12-27 10:16] benbowes commented on #106
I'm on holiday atm @yyaswanth, I plan to give this time when I get back in mid Jan.

[2019-01-04 03:48] benbowes commented on #106
I don't believe that the onchange event should be triggered the first time. The reason is that the value has not changed.

Let me know if I have not understood your actual issue.

[2019-01-10 17:12] jdwillemse opened #107 "Keyboard input doesn't trigger change"
When using a keyboard to change input the onChange event is fired every time a user presses up or down key. This is does not correlate with native behaviour when change is only triggered when spacebar or enter is hit.

Why does this lib follow a different pattern?

How can I get the onChange event to fire when a user confirms their selection by hitting space/enter?

[2019-01-10 21:44] smcfarland-cs commented on #107
I've been looking into this as well and have found that this behavior changed with the 4.5.2 release. In 4.5.0 and earlier the onChange event is only fired when the option is actually selected with space or enter, not when it is highlighted with the keyboard.

[2019-01-10 22:14] benbowes commented on #107
Thanks for looking into where the onChange functionality changes.

I agree, the functionality in 4.5.0 is best.

It'll be a month before I can tackle this. But I do want to do it.

[2019-01-15 00:02] benbowes commented on #107
Hi @jdwillemse and @smcfarland-cs

On initial investigation it looks like all I need to do is delete these lines in the reducer
https://github.com/benbowes/react-responsive-select/blob/master/src/reducers/reducer.js#L128-L131

I'll need to test this out a bit more, but if this is the fix, ETA is next few days.

[2019-01-23 07:44] benbowes commented on #107
I have released a bugfix for this via a patch version 4.5.9 on npm.

Feel free to reopen if the fix does not meet requirements.

Thanks for your help @jdwillemse and @smcfarland-cs.

[2019-01-23 07:44] #107 closed

[2019-01-23 07:46] benbowes opened #109 "Show large view select option container on small screen widths"
**Problem**

Currently the default CSS that comes with react-responsive-select does not cater very well for small screens. You open a Select and the options are displayed small; like on a desktop.

**Solution**

I would like to change the default CSS via a simple media query in the default CSS for small screens;  making the options appear in a larger format on a small screen device. The thought is

[2019-01-23 08:07] benbowes commented on #109
![image](https://user-images.githubusercontent.com/3915155/51591824-1dd03e00-1f42-11e9-99da-bbffe77bfa2a.png)

[2019-01-23 08:16] benbowes commented on #109
See: https://github.com/benbowes/react-responsive-select/pull/110

[2019-01-24 06:31] #87 closed

[2019-01-27 07:23] #109 closed, assigned to nobody

[2019-01-27 07:34] benbowes opened #111 "Convert RRS to TypeScript in version 5"
For the next version of React Responsive Select version 5.0.0, I intend to convert the codebase to TypeScript and use StoryBook as a demo platform. Converting to TypeScript will make it easier to make changes safely.

The outputted npm module will be usable with, or without TypeScript.

The is no intention to change the current functionality, but given there will be a substantial change to the way

[2019-02-22 13:12] claude39 opened #112 "Markup Input Focus"
I can't access the input element inside the rowData. Does anybody know how to do it?

This is the content of rowData:

`{ text: 'Search', value: 'foo', markup: <input type="text" id="merchantSearch" placeholder="Search Merchant" value={keyword} onChange={handleInputChange} /> }`

[2019-02-23 12:22] benbowes commented on #112
Hi @claude39 a couple of things...

I have set pointer-events to none here https://github.com/benbowes/react-responsive-select/blob/master/dist/ReactResponsiveSelect.css#L112-L114 so using any interactive markup is going to be hard. This is a design choice. There are a few React Select components out there, I want this one to be as accessible as possible. So some limitations exist to help ensure t

[2019-02-23 12:32] benbowes commented on #112
I removed `markup` from the `customLabelRenderer`. I intend to remove from the README the part in the API that says customLabelRenderer returns `markup: JSX Object`

I never saw how this could be useful/reasonable. Sadly didn't cross reference with the README

[2019-02-23 13:27] claude39 commented on #112
Thanks @benbowes you can close this now.

[2019-02-23 13:27] #112 closed

[2019-02-25 04:10] maksim208 opened #113 "new Issue"
![screen shot 2019-02-24 at 8 09 45 pm](https://user-images.githubusercontent.com/47046948/53313867-42387680-3870-11e9-8cd1-8f93cb6eb83e.png)

[2019-02-25 04:11] maksim208 commented on #113
It doesn't work

[2019-02-25 04:41] benbowes commented on #113
Looks like none of the styling has been applied. Have you added styling?

[2019-02-26 09:45] #113 closed

[2019-05-03 21:49] BallardB opened #117 "nextPotentialSelectionIndex not updating to same value as singleSelectSelectedIndex and singleSelectInitialIndex"
Hello!

I am experiencing an issue where nextPotentialSelectionIndex is not updating to the same value as singleSelectSelectedIndex and singleSelectInitialIndex.

**Context:**
I am using 2 React-responsive single selects to select the date range on a data visualization I am building. The data is in the form of years and quarters. Each year has anywhere from 1-4 quarters associated with that specif

[2019-05-04 05:11] benbowes commented on #117
Hi @BallardB, I am having a look at this now. Thanks for all of the detail 👍

[2019-05-04 05:48] benbowes commented on #117
Hello again @BallardB, I made an example https://codesandbox.io/s/l4l37j2xv9

I believe that I could see the issue you mentioned. The next nextPotentialSelectionIndex was not updating. I added a `key` attribute in the above example to `react-responsive-select` that would change based on the year selected. Changing the key forces a reset within the quarters dropdown. Removing this key should show t

[2019-05-06 13:44] BallardB commented on #117
Hi @benbowes,

Thanks for the quick response. Adding the key attribute definitely solves the issue I was seeing and makes both dropdowns work seamlessly together.  Thanks again for your help!

[2019-05-06 13:44] #117 closed

[2019-05-06 23:14] benbowes commented on #117
Thanks @BallardB,

I realise now that I need a better example of using rrs as a controlled component.

Your example is a good example, so will use this going forward. I have implemented it here (next version): https://benbowes.github.io/react-responsive-select-next/?path=/story/controlled--using-rrs-as-a-controlled-component

[2019-05-10 11:29] benbowes commented on #111
**Progress update**

I am getting pretty close (next week or so) to releasing version 5.0.0.

Work on this can be tracked at https://github.com/benbowes/react-responsive-select-next.

If you would like to try the new version in your JS or TS project then install it and try it with `npm i react-responsive-select-next -D` I'd love to know how it goes either here, or via my gmail account.

It should

[2019-05-13 21:30] BallardB opened #118 "onChange() Event Handler Firing Twice"
Hello again!

I'm running into an issue where the onChange() event handler is firing twice upon making a selection. Building upon the scenario given in https://github.com/benbowes/react-responsive-select/issues/117, here is the updated context:

I am using 3 react-responsive single selects to select a start and end date range for a data visualization. Data is in form of years and quarters, where e

[2019-05-14 09:16] benbowes commented on #118
@BallardB checking this out with a sense of urgency. It does appear as something is not right with the onChange functionality when using in a controlled setting.

[2019-05-14 14:54] BallardB commented on #118
@benbowes Thank you for taking a look at it. Let me know if you need any other information. I appreciate the quick response time.

[2019-05-14 22:44] benbowes commented on #118
Hi @BallardB I was unable to fully understand your requirements, so decided to create an example which I thought was close but a bit simpler.

https://codesandbox.io/s/y28mw1kzov

There is a sequence to the above example:
1. Select a Brand
2. then Select a Model
3. then Select a Colour

I am wary of the onChange firing on first render, and will sort that out in version 5. I will put that into vers

[2019-05-15 14:35] BallardB commented on #118
Hi @benbowes,

I see in your example, the onChange() handler is not firing twice.

**Could you clarify how you set and use `key` attribute to help manage the state of the component?**
I see in your example:

- the `key` for the model is based on the selected brand.

- the `key` for the colour is based on the selected brand and the selected model.

I have updated my codepen to more closely align to

[2019-05-16 12:28] benbowes commented on #118
I am not sure why that is happening. It is possible for you to try more shallow state?

[2019-05-17 09:28] benbowes commented on #118
Hi @BallardB,

I have being doing some work to remove the first fire of onChange in the next version (5.0.0).

PR here:
https://github.com/benbowes/react-responsive-select-next/pull/13

Storybook here:
https://benbowes.github.io/react-responsive-select-next/?path=/story/recipes--controlled-example-2

NPM module here (version 5.0.0-alpha-18):
https://www.npmjs.com/package/react-responsive-select-ne

[2019-05-21 09:37] benbowes commented on #118
The codesandbox is no longer a WIP. I removed React.Context from the example as it was more complex than it needed to be.

[2019-05-21 13:31] BallardB commented on #118
Thanks @benbowes for all the info and your help with this! I bet someone using this package will also find this useful in the future.

[2019-05-22 09:32] benbowes commented on #118
@BallardB I agree, the more info the better.

The controlled example I provided was not very good. Because of your input, I now have something more useful. Thanks heaps!

[2019-05-22 09:32] #118 closed

[2019-05-22 10:14] benbowes commented on #111
Here is the PR https://github.com/benbowes/react-responsive-select/pull/119

[2019-05-29 10:05] benbowes commented on #111
released 5.0.0 to npm https://www.npmjs.com/package/react-responsive-select

[2019-05-29 10:05] #111 closed

[2019-07-29 18:47] nikolowry opened #135 "Marking select as required?"
A little confused on how to mark a select as required for a form. In the past, I've typically used a `listbox` role to implement custom selects and was a little stumped once I started inspecting the select's markup and saw it utilized a role of `menu`.

I know the screen reader demo is provided as a proof-of-concept that it "works", but is it really following best practices for a "custom select"?

[2019-07-30 00:18] benbowes commented on #135
The available roles for a native <Select /> are `menu` or `listbox`. As you have found, I have used the `menu` role.

I'd will consider some approaches to marking the select as required.

Do you have any ideas that you want to share?

[2019-07-31 16:31] nikolowry commented on #135
@benbowes I believe the only proper way to add the requested `aria-required` functionality would be to port the role from `menu`->`listbox` and `menuitem`->`option`.

But it's a little more in-depth than just changing those roles -- these additional ARIA attributes will need to be supported: `aria-{activedescendant,multiselectable,required,readonly}`.  The keyboard bindings would also need to be r

[2019-08-01 08:17] benbowes commented on #135
@nikolowry cheers for the input.

When I began writing RRS, I started with `listbox` and its associated aria attributes. It looked like the logical choice. I started with an example from MDN (which no longer seems to exist). But it didn't work with a screenreader on all the usual browsers.

Having RRS work with a screenreader and give meaningful output I considered to be more important than using

[2019-08-01 22:36] benbowes commented on #135
@nikolowry this is where RRS started (with listbox) https://github.com/benbowes/selectbox-keyboard-accessibility-hack/commit/5605a9279ec93b8c8c432ea6bcd104805f89858b

[2019-08-01 22:38] benbowes commented on #135
Also - what do you think of this PR regarding aria-required? https://github.com/benbowes/react-responsive-select/pull/137

[2019-08-02 01:00] nikolowry commented on #135
I'll for sure take a look at https://github.com/benbowes/selectbox-keyboard-accessibility-hack/commit/5605a9279ec93b8c8c432ea6bcd104805f89858b next week -- deadlines preventing any earlier.

Per the `aria-required` PR, the role `button` doesn't support it https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role. Which semantically makes sense -- how can you require anythin

[2019-08-02 08:02] benbowes commented on #135
Exactly. That is the when a wrapping field component becomes useful

[2019-08-05 14:49] Snorlite opened #138 "Adding keys to ReactResponsiveSelect's menu items"
If I assign the prop `caretIcon` to a ReactResponsiveSelect component, the application freezes for a few seconds after each value change, and at the launch of the app the console returns this message:
[code]

If I don't assign the `caretIcon` prop, the application works fluently and it returns no warnings.
My CaretIcon component is identical to the one used in this repository:

[code]

Since I thi

[2019-08-06 06:34] benbowes commented on #138
I will look into this, but in the meantime this might help:
https://codesandbox.io/s/rrs-issue-118-6ygdu

[2019-08-06 09:51] Snorlite commented on #138
Thank you.

I still don't find what I'm doing wrong, I'll copy the relevant part of my code:

[code]
I'm not using the `form` tag since I don't actually want to submit anything, but if I add it the problem persists.

[2019-08-06 11:53] benbowes commented on #138
Hi @Snorlite I have added a new example based on what you shared above with some comments https://codesandbox.io/s/rrs-issue-138-1tm7u

The problem is that RRS is expecting you have a unique key on the CaretIcon that is supplied i.e. instead of `caretIcon={<CaretIcon/>}`, it is expecting `caretIcon={<CaretIcon key="someUniqueKey" />}`

In the `CaretIcon.js` file I have added a function that automa

[2019-08-06 12:13] Snorlite commented on #138
I'm sorry, I edited the CaretIcon component based on yours but the problem is still present.

[2019-08-06 12:19] benbowes commented on #138
Hi @Snorlite I did not realise you were actively looking at it. I edited CaretIcon shortly after making that comment - removing the changes in the CaretIcon component. Could you please check again?

[2019-08-06 12:28] Snorlite commented on #138
Yeah, sorry. The warning disappeared, but the application freeze not.
I actually found that deleting another component I used in my app that has nothing to do with RRS (ReactMapGL) solves it.
I have no idea why it happens.

[2019-08-06 12:44] benbowes commented on #138
Well I am glad that part of it is sorted. Good luck with your project

[2019-08-11 11:03] #135 closed

[2020-01-31 09:51] meliborn opened #139 "Deprecation warning due using componentWillReceiveProps"
After upgrading to the new version of React I see this deprecation warning:
![image](https://user-images.githubusercontent.com/735194/73529751-4843b980-4428-11ea-9d26-73be1b980c04.png)
Is it possible to follow new changes and drop componentWillReceiveProps using?

[2020-02-01 01:57] benbowes commented on #139
Good plan. Shall do

[2020-02-01 11:46] benbowes commented on #139
Updated as part of https://github.com/benbowes/react-responsive-select/pull/140

Re-open if any problems

[2020-02-01 11:46] #139 closed

[2020-04-07 03:21] oyeanuj opened #142 "onChange providing the clicked option"
Hi @benbowes, thanks for creating this great library!

As I was integrating it, the only thing I'm having a hard time with is how `onChange` works. It seems that `onChange` passes all the selected options rather than the one selected/deselected. This requires a tedious diff every time to find which option changed. It seems like the library already knows that, so is there a way to receive that info

[2020-04-07 10:03] bbowes-ae commented on #142
Hi @oyeanuj thank for the PR earlier.

Are you talking about `multiselect` mode?

These are the onchange broadcaster params:
https://github.com/benbowes/react-responsive-select/blob/master/src/lib/onChangeBroadcasters/multiSelectBroadcastChange.ts#L5-L8

Are you talking about passing back the current and previous options? Or an intersection of what has changed?

I'm after just a bit more detail.

[2020-04-07 14:05] oyeanuj commented on #142
@benbowes Appreciate the quick response!

I was referring to the intersection of what has changed or even making it behave like a standard input by the passing the event that causes the change, so  one knows what option was selected/deselected. ([Here is what `react-super-select` does for example](http://alsoscotland.github.io/react-super-select/#onChange)).

I imagine calling an user-provided eve

[2020-04-07 14:13] oyeanuj commented on #142
(Just updated the comment above with another idea and more clarified thoughts)

[2020-04-08 08:15] benbowes commented on #142
I'm toying with the idea of doing a diff and passing the result back as a second argument of the `onChange` prop.

Currently trying this:

[code]

That would return an object as the second argument of either:
- { added: [{ name: '', text: '', value: '' }] }
- { removed: [{ name: '', text: '', value: '' }] }

There is no native event to pass back.

[2020-04-08 21:54] benbowes commented on #142
`onSelect` and `onDeselect` might be easier implement and use though 🤔

[2020-04-08 22:07] oyeanuj commented on #142
@benbowes I agree that `onSelect` and `onDeselect` might be easier. They also might be more helpful as it allows people to do other things on those events as well, like closing the select or some other side effect.

So, I assume if one uses `onSelect`/`onDeselect`, effectively, we won't need to use `onChange`, right?

[2020-04-08 22:11] benbowes commented on #142
Yes, leave `onChange` as is, and add `onSelect/onDeselect` sounds good to me

[2020-04-08 22:14] benbowes commented on #142
So do you want me to make this change? Or are you planning to do it?

[2020-04-09 08:59] benbowes commented on #142
I had play and it seems to work well. Pre

[2020-04-09 09:00] benbowes commented on #142
Closing accidental

[2020-04-10 05:30] benbowes commented on #142
@oyeanuj I have made a pr for this https://github.com/benbowes/react-responsive-select/pull/143

[2020-05-29 09:10] bbowes-ae opened #145 "Replace Storybook with Styleguidist"
I prefer Styleguidist these days over StoryBook as I find it better from a developer perspective.

- gives a great code editor inline; allowing developers the ability to experiment with various settings
- storybook is great for the "everybody", I want to skew my focus towards developers
- after considerable time with both platforms, I consider "styleguidist" to be the better of the two in terms of

[2020-06-03 00:01] alanrsoares opened #146 "Consider using TSDX to make the library tree-shakeable"
Should be not very intrusive to replace current build/bundling with https://github.com/jaredpalmer/tsdx.

I might have a go with it and open a PR.

[2020-06-03 00:21] benbowes commented on #146
Great please do that. I am pretty interested in tsdx

[2020-06-03 06:49] benbowes commented on #146
Just tried out TSDX in a much simpler project https://github.com/benbowes/singleline/pull/9

It is awesome

[2020-06-05 08:14] benbowes commented on #146
@alanrsoares I am super keen for this to happen now, having had a few goes with tsdx - thanks heaps for bringing this up!

I noticed that you have not forked this repo. This makes me think that you are not in the process of converting this over to tsdx yourself.

So I'm attempting to do this over the next few days - using the storybook preset. If you are in progress though, and want to do it let m

[2020-06-05 08:27] alanrsoares commented on #146
Hey @benbowes. Sorry for the lack of response from my end. It's been a pretty hectic week at work. Feel free to jump it now that you more familiar with tsdx. I can definitely help reviewing the PR though.

[2020-06-05 09:25] benbowes commented on #146
StoryBook is annoying me. As a developer I just want to know how to use a thing.

[2020-06-14 14:32] benbowes commented on #146
Made a bit of progress in another repo on this https://github.com/benbowes/react-responsive-select-next/

New styleguidist docs here: https://benbowes.github.io/react-responsive-select-next/
Published to npm here: https://www.npmjs.com/package/react-responsive-select-next

More to do

[2020-06-30 09:04] carlospence opened #147 "Creating RRS Reusable Formik Field or Component"
I Created a Formik Component for RRS, so as to reuse it instead of repeating so many codes while creating form but whenever I use the component, it slows down every other components on the form. If I use the RRS component directly on the form, it is fast. When I now used <FastField> Formik Component, it was slightly faster but still slow.

This is the reuseable formik component code

[code]
Used i

[2020-06-30 09:33] carlospence commented on #147
On further Checking, I realized that the caretIcon property is the cause, If I remove the property, the component works very well but immediately I add it back, it becomes very slow even with using RRS directly on my form

[2020-06-30 23:59] benbowes commented on #147
Which version are you on @carlospence ?

Also could you try `caretIcon={"+"}` to see if it is the caretIcon prop or the CaretIcon?

Also please try the next version of `react-responsive-select` which is `react-responsive-select-next` as this is slightly different

I will have a look and see if there is something unusual going on in the `caretIcon` prop

[2020-07-01 05:54] carlospence commented on #147
I used the latest version 5.1.1. I tried caretIcon={"+"} and worked well, it was not sluggish or slow, so I think it is the caretIcon prop.

I also tried the next version and had the same issue.

[2020-07-01 07:06] carlospence opened #148 "Using Multiselect in Formik"
Has anyone used RRS in multiselect mode with Formik?

[2020-07-01 15:40] carlospence commented on #148
[code]
I used react-responsive-select-next, It can also be modified for react-responsive-select

[2020-07-01 22:01] benbowes commented on #147
Thanks for all the details @carlospence 👍

This is interesting. I have not noticed any speed problems before with the caretIcon.

I am rendering whatever is in caretIcon like this https://github.com/benbowes/react-responsive-select/blob/master/src/components/SingleSelect.tsx#L82

e.g.
[code]

The same way I would render `props.children`

Is it possible that `field.name` is changing somehow? as in

[2020-07-01 22:23] benbowes commented on #147
Please also try spreading the props on the <CaretIcon />, and removing the key prop.

[code]

[2020-07-01 22:26] benbowes commented on #147
This CaretIcon ☝️ is exactly the same as the existing CaretIcon in RRS, except for the spread props.

[2020-07-01 23:28] carlospence commented on #147
Thanks, I just added the spread props and there was a very good improvement on the single select. But on the multiple select with markup component. If I include the <MultiSelectOptionMarkup>, there is still some form of sluggishness. I added the spread props on the MultiSelectOptionMarkup components. It didn't lead to any improvement.

[2020-07-02 00:19] carlospence opened #149 "Close button for Mobile view"
Can the mobile pop view have a close button ?

[2020-07-02 01:48] benbowes commented on #147
I am not sure if you have tried using these versions of components for the MultiSelectOptionsMarkup?
https://github.com/benbowes/react-responsive-select-next/blob/master/src/Extras.tsx#L44

But based on what you have discovered above, I think the spread props I have here, should be spread over the CheckboxIcon

[code]

like this:

[code]

[2020-07-02 01:50] benbowes commented on #147
Really appreciate your help with this

[2020-07-02 01:54] benbowes commented on #149
Possibly. Certainly not currently possible.

It currently requires a tap on the background in multi select mode. And either a selection or a tap on the background in single select mode.

Currently the modal view is all css driven - essentially the css resizes the dropdown panel.

[2020-07-02 14:05] carlospence commented on #147
@benbowes Not a problem @all. I really appreciate your prompt responses also and help so far.

There have been an appreciable improvement but not up to the speed of no caretIcon or no MultiSelectOptionMarkup. I even think the major snag is still with the MultiSelectOptionMarkup. Though there was slight improvement but the improvement is more obvious with single select than with multiselect.

Howev

[2020-07-05 11:49] benbowes commented on #149
Hi @carlospence I have published a new version of https://www.npmjs.com/package/react-responsive-select-next

react-responsive-select-next@6.0.0-aplha.7

I have added a close button, and made the spread props changes to the svg's and added a formik multiselect example

[2020-07-06 08:04] carlospence commented on #149
Ok will check it out and will get back to you

[2020-07-06 08:44] benbowes commented on #149
A heads up. The close button I have implemented in react-responsive-select-next does not work in Safari yet because of the position fixed property

[2020-07-11 07:52] benbowes commented on #147
@carlospence I haven't tried using Formik Field, but I can see that I need to put a multiselect example in the docs

Some thing like this in react-responsive select-next (soon to be react-responsive-select) would give some insight in to how to go:

[code]

[2020-07-11 08:04] benbowes commented on #147
https://github.com/benbowes/react-responsive-select-next/pull/17

[2020-07-11 11:48] benbowes commented on #149
@carlospence I have fixed the Safari CSS

[2020-07-11 11:50] benbowes commented on #149
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #148
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #147
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #146
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #145
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #142
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 11:50] benbowes commented on #138
see https://github.com/benbowes/react-responsive-select/pull/150

[2020-07-11 12:37] benbowes commented on #149
released in 6.0.0

[2020-07-11 12:37] #149 closed

[2020-07-11 12:37] benbowes commented on #148
released in 6.0.0

[2020-07-11 12:37] #148 closed

[2020-07-11 12:37] benbowes commented on #146
released in 6.0.0

[2020-07-11 12:37] #146 closed

[2020-07-11 12:38] benbowes commented on #145
released in 6.0.0

[2020-07-11 12:38] #145 closed

[2020-07-11 12:38] benbowes commented on #142
released in 6.0.0

[2020-07-11 12:38] #142 closed

[2020-07-11 12:38] benbowes commented on #138
Done as part of 6.0.0

[2020-07-11 12:38] #138 closed

[2020-07-17 18:40] carlospence commented on #149
@benbowes Is it release in react-responsive-select or in -next

[2020-07-17 23:35] carlospence commented on #149
@benbowes , thanks for all your efforts so far. I have checked it out and it is much more better now. Though I forked another multiselect library and added mobile close button and used in my previous situation. I just implemented yours now and it is quite good.

One quick question. What if you don't want a default "Any" or "None" as first item in your multiselect box. You just want to List just yo

[2020-07-18 02:18] carlospence opened #151 "Search Capability"
Is there any possibility of Search or Filter feature?

[2020-07-18 03:45] benbowes commented on #151
As this dropdown is for mimicking a native select, the only searching is quick typing the letters an entry begins with.

The other type of searching is for a combo box. This is not a combobox

[2020-07-18 03:48] benbowes commented on #149
@carlospence check the noSelectionLabel example

[2020-07-19 13:31] carlospence commented on #151
Ok nice, agreed

[2020-07-19 13:31] #151 closed

[2020-09-21 08:34] #147 closed

[2020-10-02 13:51] Buba21 opened #154 "Error when reseting values with singleselect"
I've using this component in a project for a client it has been working just fine, but i think i've stumbled in to a bug with the single select option.
I have a couple of side filters that are being showed as singleselect or multiselect dropdowns, i also have a method that calls a function that reset the values in the redux store and returns them to their original values. All the multiselects work

[2020-10-04 04:07] benbowes commented on #154
Hi @Buba21 ,

Interesting. Let me have a look.

[2020-10-04 04:18] benbowes commented on #154
Whilst I am looking I should mention that I'd typically change the `key` prop on the select I wanted to reset, so as to force a re-render of the component.

See http://localhost:6060/#/Recipes/Controlled%20example%201

I am looking to see if I can replicate the issue, but in the meantime the above may help you

[2020-10-04 06:45] benbowes commented on #154
Could you try altering the Controlled Example 1 above with this code?

The difference is that the whole form is now wrapped with a component that has a `key`. When the `key` changes. It forces a re-render and thus resets the form back to it's initial value.

[code]

[2020-10-06 10:09] Buba21 commented on #154
Hi ben, i tried using the key prop as a way to control the re-render of the select as you suggested and it worked like a charm. Im still new with react so did not know you could use the keys as a way to control the render of an object.
Thank you so much for your help on this matter.
Keep up the good work with this amazing lib.

[2020-10-07 03:00] benbowes commented on #154
Thanks @Buba21 👍

I think you did uncover some unexpected behaviour though. I don't have a fix for that yet.

[2020-10-14 10:11] benbowes commented on #154
@Buba21 do I might add the reset button as per the above example. I think it will help other users.

[2020-10-14 10:17] benbowes commented on #154
PR's are welcome btw

[2020-12-23 11:12] zulqarnain-26 opened #155 "Selecting first option resets the multi select dropdown"
i don't want my first option to reset the whole dropdown. Any solution?

[2020-12-23 22:51] benbowes commented on #155
Sure @zulqarnain-26 , use the noSelectionLabel.

https://benbowes.github.io/react-responsive-select/#/Multi%20Select/noSelectionLabel

[2021-03-14 19:56] ArshakKocharyan opened #156 "Move data fetching code or side effects to componentDidUpdate."
![Снимок экрана 2021-03-14 в 23 54 12](https://user-images.githubusercontent.com/69091971/111082258-c2e27200-8520-11eb-9513-fd5960ae3ac7.png)

index.js:1 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDid

[2021-03-15 01:02] benbowes commented on #156
@ArshakKocharyan PR's welcome

[2021-03-15 02:08] benbowes commented on #156
Possibly I should remove this function altogether, update a major version and enforce the use of a `key` prop along with only supporting a controlled mode

[2021-03-15 07:14] benbowes commented on #156
https://github.com/benbowes/react-responsive-select/pull/158

[2021-03-15 10:11] ArshakKocharyan commented on #156
Yes you can try.

[2021-03-16 06:12] benbowes commented on #156
@ArshakKocharyan Released react-responsive-select@7.0.0

[2021-03-16 09:42] AkshayRaoEnuke opened #159 "onchange i cannot able to pass event instead im getting selected values. for eg (e)=>handleChange(e) e logs selected values i need event of select"

[2021-03-16 22:40] benbowes commented on #159
Yes, this will never be possible as this is not a native select

[2021-03-16 22:44] benbowes commented on #154
Version 7.0.0 requires you to have a `key` prop to change the internal state of react-responsive-select. So this is no longer considered an issue

[2021-03-16 22:44] #154 closed

[2021-03-16 22:45] #155 closed

[2021-03-16 22:45] #156 closed

[2021-03-16 22:45] #159 closed

[2021-05-11 07:52] repka3 opened #161 "using react-responsive-select with formik+typescript"
I'm currently facing an issue trying to use react-responsive-select with formik and typescript.

This is how i'm using it:

`

                         <Select
                        name="tipo"
                        modalCloseButton={<ModalCloseButton />}
                        options={[
                            { value: 'C', text: 'Clienti' },
                            { value: 'F', te

[2021-05-13 06:04] benbowes commented on #161
Thanks for the example. Let me have a look

[2021-05-13 06:07] benbowes commented on #161
Hi @repka3 .

Did you try the Formik example on the demo site?

[2021-06-02 17:09] rex-iotum opened #163 "Full page crash when empty array given as options"
Version: 7.0.2

If we supply an empty array as `options`, the Select crashes the app with `Cannot read property 'text' of undefined`.

Please still render the dropdown with some placeholder defaults instead of crashing the javascript.

React-Select for example has placeholder defaults when supplied an empty array.

Codesandbox (Change line 10 to be an empty array):
https://codesandbox.io/s/empty-s

[2021-06-02 17:14] rex-iotum opened #164 "Select component doesn't re-render when options are changed"
Version: 7.0.2

If you supply a new set of `options` to the Select component, the component does not re-render with the new set of options.

React-Select for example re-renders the options dropdown when the options are changed.

Codesandbox (Click "Change Options"):
https://codesandbox.io/s/blazing-bush-oc8j8?file=/src/App.js

[2021-06-05 00:36] benbowes commented on #163
Thanks for the example @rex-iotum sounds like a good plan

[2021-06-05 00:38] benbowes commented on #164
You have to provide a `key` prop to make the Select re-render now from version 7.

[code]

[2021-06-05 01:10] rex-iotum commented on #164
Please document that prop in your API docs

[2021-06-05 01:10] #164 closed

[2021-06-05 10:51] benbowes commented on #164
It is documented here https://www.npmjs.com/package/react-responsive-select see **Upgrade from v6 - v7**

But I will add something to the API docs as well as it has tripped someone up 👍

[2021-06-09 21:57] benbowes commented on #163
PR here @rex-iotum https://github.com/benbowes/react-responsive-select/pull/165

[2021-07-09 10:24] cvlmtg opened #166 "isEqual very very slow with markup"
Hi, I'm trying react-responsive-select and found it to be unbearably slow with my app. after digging a bit it seems the cause is the `isEqual()` function.

I have options defined as

[code]

which generates this object:

<img width="665" alt="Schermata 2021-07-09 alle 12 21 41" src="https://user-images.githubusercontent.com/6401008/125063848-43b91100-e0b0-11eb-8c93-d6b7daca9f5d.png">

the `JSON.st

[2021-07-11 06:44] benbowes commented on #166
Hi @cvlmtg can you show me the markup that is being passed in?

I would be surprised if the size had much to do with JSON.stringify, but am happy to be proven wrong :)

[2021-07-11 17:19] cvlmtg commented on #166
hi @benbowes , the markup is quite simple:

[code]

where currently `value` is a simple string like `"manzoni"` (but could be something like `"<b>manzoni</b>"`)

but the object passed to `isEqual` is:

<img width="480" alt="Schermata 2021-07-11 alle 19 10 12" src="https://user-images.githubusercontent.com/6401008/125204068-a4e11000-e27b-11eb-9d35-6d985b5b748e.png">

the problem reside in `markup._

[2021-07-12 00:16] benbowes commented on #166
@cvlmtg I see.

Possibly could add a prop which allows the user to override the inbuilt equality function with their own equality function

[2021-07-12 00:20] benbowes commented on #166
Will think more about this...

[2021-07-12 00:24] benbowes commented on #166
@cvlmtg  I will checkout if a.value === b.value is enough

[2021-07-12 06:43] cvlmtg commented on #166
@benbowes AFAIK `value` is like a unique id for each option of a select. If I create a select with two equal values, that's my mistake, so I see no reason why someone should need something else to identify the selected option. That's my humble opinion of course :)

[2021-07-14 04:57] benbowes commented on #166
You are absolutely right @cvlmtg

I have setup a PR https://github.com/benbowes/react-responsive-select/pull/167/files

[2021-07-14 05:07] benbowes commented on #166
7.0.4 has been released to npm @cvlmtg

Let me know if this helped perf if you can

[2021-07-14 05:10] benbowes commented on #166
Also... thanks for the help!

[2021-07-15 20:43] #166 closed

[2021-07-15 20:43] #163 closed

[2021-07-19 18:41] cvlmtg commented on #166
@benbowes sorry for the late reply, been on holiday for a few days :D I'll test the new release ASAP. thanks for the fix!

[2021-07-20 04:19] benbowes commented on #166
My pleasure @cvlmtg let me know how it goes

[2021-07-20 08:19] cvlmtg commented on #166
@benbowes just tried it, there is no longer any delay. thanks!

[2021-07-20 10:24] benbowes commented on #166
I am filled with joy @cvlmtg !

Thanks for trying it out, and also thanks for your awesome suggestion ❤️

[2021-07-20 14:34] cvlmtg opened #168 "disabled prop doesn't work on state change"
Hi, if you look at this example:

https://codesandbox.io/s/peaceful-lewin-csrnm

changing the `disabled` prop on a new render doesn't disable the select. The select is disabled only if `disabled` is true on the component mount.

[2021-07-22 04:20] benbowes commented on #168
I think this happened on the latest release. Perhaps I'll instead filter out `markup` before running isEqual

See https://github.com/benbowes/react-responsive-select/issues/166

[2021-07-22 04:29] benbowes commented on #168
Nope it was before that https://github.com/benbowes/react-responsive-select/pull/158/files#diff-6fec0dbdf1643fd10f49c6b6ae4e666fda92f158c1b1f9e3da194f9ec1346cecL48-L55

[2021-07-26 05:57] benbowes commented on #168
Hi @cvlmtg , sorry for not getting back to you sooner.

React recommends this as a way work without the now deprecated `componentWillReceiveProps`. https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#recommendation-fully-uncontrolled-component-with-a-key

So you'd have to change the key with whatever you are changing

<Select
      name="foo"
      **key={disabled}**

[2021-07-27 07:41] cvlmtg commented on #168
@benbowes ok thanks!

[2021-08-18 10:18] CharlotteArai opened #169 "Can't get onBlur to work properly"
Hi! 
So I’m trying to understand how the onBlur & onChange works, maybe you can help me out?

I have a Select that I don’t want to have a pre-selected value in.

My problem is that if a user just opens the select but don’t pick a value (just closing it by clicking outside the select),
the onBlur selects the first value as the set option (in backend - not in the UI). Also, it sets the altered flag

[2021-08-24 06:47] benbowes commented on #169
Hi @CharlotteArai

For RRS to work as intended, there should be a default value in your options

[code]

[2021-10-25 12:30] loopmode opened #170 "onListen wrongly invoked with `isOpen=false`"
When you change the selected option in a multiselect scenario, the onListen callback is invoked and claims that isOpen is false, while it should still remain true (The user keeps the overlay visible and changes which options are checked, but he does not close the overlay)

Technically, the user dispatches `SET_MULTISELECT_OPTIONS` actions, and that action type is not handled in this section:
https

[2021-12-21 20:21] loopmode opened #171 "Programmatically close overlay"
I currently use a ref, then call setState on the ref to close the options overlay programmatically:

[code]

Of course this is very fragile and dirty, but I couldn't find another way.

Is there a recommended or at least better way to programmatically close the options overlay?

[2022-08-23 21:32] kimkvn opened #185 "`onChange` prop isn't triggering for Multiselect"
Hello!

I'm working with the MultiSelect component, but finding that the `onChange` prop isn't triggering. The rest of the event handlers seem to be functioning as intended.

The `onChange` prop for SingleSelect is still working, so I dug into the library and compared the onChangeBroadcasters. I copied over and am testing the example code in the demo: [SingleSelect Basic](https://benbowes.github.i